.main-window-left {
    margin-right: 8px;
    width: calc(65% - 8px);

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    background-color: rgba(255,255,255,0.2);

    padding: 20px;
    margin-bottom: 20px;
}

.main-window-right {
    width: 35%;


    display: table;
}

.main-window-right-section {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    background-color: rgba(255,255,255,0.2);

    padding: 20px;
    margin-bottom: 20px;
}

.container-main {
    margin: 15px;
    display: flex;
}

.price-container {
    padding: 15px;

    font-size: 28px;
    font-weight: 700;
    line-height: 1.21;
    color: #121212;
}

.rooms-container {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}

.description-container {
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255,255,255,0.9);
}

.description-container p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    white-space: pre-wrap;
    color: black;
}

.show-phone-container {
    align-content: center;
    display: grid;
}

.show-phone-button {
    border-radius: 40px;
    padding: 10px;
    align-content: center;

    border: none;

    background-color: #33a8db;
}

.show-phone-button:hover {
    background-color: #2e6da2;
}

.phone-button-text {
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
    border: none;
}

.phone-number-text {
    display: block;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.21;
    text-decoration: none;
    color: #182930;

    align-content: center;
}

.email-text {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.21;
    text-decoration: none;
    color: #182930;

    align-content: center;
}

.hidden {
    display: none;
}

.text-with-phone {
    margin: 4px 0 0;
    font-size: 12px;
    line-height: 1.5;
    color: #7a7a7a;
}

.text_with_price {
    margin: 8px 0 0;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 18px;
    color: #182930;

    font-size: larger;
    text-align: center;
}

.sailer-text {
    margin: 5px 0 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
}

.right-secton-devider {
    display: flex;
}

.rieltor-awatar {
    border-radius: 50px;

    margin-left: 20px;

    width: 100px;
    height: 100px;
}

.rieltor-date-registreation {
    font-size: 14px;
    line-height: 18px;
    color: #7a7a7a;
}

.centerred-loader {
    margin: 0 auto;
    display: table;
}

.button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 31px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    width: auto;
}